@tailwind base;
@tailwind components;
@tailwind utilities;

.lamp{
    box-shadow: 0;
    animation: light-up 5s infinite
}

@keyframes light-up {
    0%{box-shadow: 0;

    }
    50%{
        box-shadow: 100px;
    }
    100%{
        box-shadow: 0;
    }
    
}
.lamprays{
    opacity: 0.1
    
}

@keyframes light-up-area {
    0%{opacity: 0;

    }
    50%{
        opacity: 0.1;
    }
    100%{
        opacity: 0;
    }
    
}